{
   "rules": {
    "react-hooks/rules-of-hooks": [{ "enableDangerousAutofixThisMayCauseInfiniteLoops": true }],
    "react-hooks/exhaustive-deps": [{ "enableDangerousAutofixThisMayCauseInfiniteLoops": true }]
  }
}